/* --- Tool Menu Widget --- */
.tool-menu-widget {
  background: transparent;
  padding: 0;
  border-radius: 10px;
}

.tool-menu-widget button {
  background: none;
  border: none;
  padding: 5px;
}

.wifi-button {
  color: #f1f1f1;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #100b08;
}

.battery-icon {
  color: #f1f1f1;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #100b08;
}
