* {
    all: unset;
    font-family: figtree, sans-serif;
    font-weight: 600;
}

.wifi-popup {
    background-color: rgba(12, 16, 19, 0.7);
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
}

.wifi-popup button {
    padding: 5px;
    border-radius: 5px;
}

.wifi-popup button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.wifi-popup label {
    padding: 0 5px;
}
